<section class="hero is-link">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Welcome to ProManage!
            </h1>
            <h2 class="subtitle">
                A micro project management app built with Ruby on Rails
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-7">
                <div class="content">
                    <h3 class="title is-3">
                        Why is ProManage So Great?
                    </h3>
                    <p>
                    Elit aliqua cillum aliquip sunt. Ipsum cillum ullamco exercitation ad nostrud tempor. Do tempor qui velit ex. Sunt sunt eu Lorem magna magna duis eiusmod ad quis pariatur. Velit tempor sit minim ea laborum magna culpa. Tempor dolore aliquip sit elit velit fugiat excepteur duis laborum incididunt non nulla.
                    </p>
                    <p>
                    Elit in cupidatat mollit aliqua duis qui anim do. Eiusmod ut magna esse deserunt aliquip deserunt. Ea cupidatat sint ut pariatur culpa id fugiat deserunt quis cillum. Eu ut quis occaecat cupidatat mollit et nostrud mollit consequat eiusmod enim dolor irure. Excepteur esse adipisicing consequat exercitation esse magna adipisicing Lorem duis sit consequat anim eiusmod sint. Lorem amet officia Lorem duis adipisicing sunt reprehenderit eu qui officia. Veniam nostrud cupidatat labore labore fugiat ea et dolore quis et.
                    </p>
                    <p>
                    Nostrud eu voluptate ullamco deserunt duis id pariatur ullamco minim nisi amet Lorem. Cillum ea minim ad id anim dolore eu. Adipisicing mollit sit cillum excepteur qui dolore. Exercitation ex adipisicing fugiat ea labore.  
                    </p>
                </div>
            </div>
            <div class="column is-4 is-offset1">
                <h4 class="subtitle is-4">
                    Sign Up Today!
                </h4>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
            </div>
        </div>
    </div>
</section>